#banner {
    display: flex;
    background-image: url('../imagens/banner.png');
    background-position: center;
    background-size: cover;
    justify-content: center;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.banner_headline h1 {
    font-size: 50px;
    color: #302d38;
    width: 360px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 1px 0px yellow;
}

.banner_headline h2 {
    font-size: 25px;
    color: #302d38;
    width: 410px;  
    margin: 0;
    padding: 0;
    margin-top: 30px;
    text-shadow: 0px 1px 0px yellow;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3,
.banner4 {
    flex: 1;
    padding: 20px;
}

.banner1,
.banner2,
.banner3,
.banner4 {
    background-color: white;
    opacity: 0.7; 
    color: black;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 3px;
}

#orcamento {
    display: flex;
    justify-content: center;
    background-color: #2A2550;
    color: white;
}


.contato {
    display: flex;
    flex-direction: column;
}